
.loading_mainDiv {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 55%;
    transform: translate(-55%, -55%);

    @media (max-width: 1150px) {
        position: absolute;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.loading_spinner {
    border: 4px solid rgba($color: #40babb, $alpha: 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: #40babb;

    animation: spin 1s ease-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}