.mainDiv {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba($color: #40babb, $alpha: 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: #40babb;

    animation: spin 1s ease-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}