

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    width: 500px;
    background-color: white;
    border: 2px solid #40babb;
    border-radius: .5rem;
    padding: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
    position: relative;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: .5rem;
      gap: .35em;
    }
    
    .form-group > label {
      font-weight: bold;
      font-size: 1em;
      color: #333;
    }
    
    .form-group > input {
      border: 1px solid rgb(146, 140, 140);
      border-radius: 5px;
      font-size: 1rem;
      padding: .45em;
      margin: 7px 0;
      outline: none;
  
      &:active, &:focus {
        border: 1px solid #40babb;
      }
    }
    
    .step-title {
      margin: 0;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .btn {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background-color: #40babb;
      color: white;
      font-size: 1.2rem;
      border: 1px solid white;
      margin-top: 15px;
    }
    
    .close {
      position: absolute;
      top: -10px;
      right: 15px;
      font-size: 1.6rem;
      cursor: pointer;
      transition: color .3s ease;

      &:hover {
        color: #40babb;
      }
    }
}
