
.tableContainer {
    flex: 1 3 auto;

    .table {
        width: 70%;
        margin: 10em auto;
    }
}

// .table:first-child {
//     border-top: 1px solid black;
// }

.rowConatiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

.rowHeader {
    font-weight: bold;
    font-size: 1.2rem;

    div {
        min-width: 128px;
        text-align: center;
    }
}