
.tableContainer {
    flex: 1 3 auto;
}

.table {
	width: 70%;
    // margin: 10em auto;
    margin: 9em 0 0 8em;
	border-collapse: collapse;

    
    td, th{
        padding: 23px 15px;
        border:1px solid #ddd;
        text-align: center;
        border: none;
        border-bottom: 1px solid rgb(206, 199, 199);
        
    }
    
    & th:first-child {
        width: 100px;
        text-align: left;
    }

    & td:first-child {
        text-align: left;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #40babb;
        border-radius: 50%;
        color: white;
        height: 50px;
        width: 50px;
    }

    .centerUser {
        width: 0;
        margin: 0 auto;
    }
    
    .filler {
        width: 200px;
    }
}


