
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: fixed;
    background: #ffffffe1;
    overflow-y: hidden;
    backdrop-filter: blur(4px);
}

.hideOverlay {
    display: none;
}

@media (max-width: 1150px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
