
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

@media (max-width: 1150px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
